<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FBV</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: lightgreen;
        }
        form{
            width: fit-content;
            padding: 30px;
            background-color: linen;
            box-shadow: -10px 10px 30px black;
            border-radius: 20px;
        }
        form,input{
            font-size: 1.2em;
        }
        tr{
            text-align: left;
        }
    </style>
</head>
<body>
    <center>
        <h1>This is a Function-Based-View Student-Form</h1>
        <form method="POST">
            {% csrf_token %}
            <table cellpadding="10">
                <tr>{{SFO}}</tr>
                <tr>
                    <td colspan="2" align="center">
                        <input type="submit" value="Submit">
                    </td>
                </tr>
            </table>
        </form>
    </center>
</body>
</html>