<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TemplateView</title>
    <style>
        body{
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            background-color: darkslateblue;
            color: white;
        }
    </style>
</head>
<body>
    <center>
        <h1 style="font-size: 3em;">This is rendering using TemplateView</h1>
    </center>
</body>
</html>